*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: #f5f5f5;
    color: #333;
    line-height: 1.5;
}

header{
    background-color: #000;
    padding: 10px 20px;
}

.navbar{
    display: flex;
    align-items: center;
}

.logo{
    font-size: 55px;
}

.nav-links{
    list-style: none;
    display: flex;
    gap: 20px;
}

.nav-links a{
    text-decoration: none;
    color: white;
    font-size: 20px;
    /* transition: text-decoration 0.3s; */
}

.nav-links a:hover{
    text-decoration: underline;
}

.hero{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin: 20px 0;
}

.hero-contenido{
    margin-top: 10px;
}

.hero-imagen{
    width: 1500px;
    height: 500px;
    border-radius: 10px;
}

.categorias{
    padding: 20px;
    background-color: white;
    margin: 20px;
}

.lista-categorias{
    display: flex;
    justify-content: center;
    gap: 20px;
}

.Categoria-item{
    text-align: center;
    text-decoration: none;
    color: #333;
}

.Categoria-item img{
    width: 150;
    height: 150;
    border-radius: 50%;
}

footer{
    text-align: center;padding: 10px;
}

