/* Reset básico */

/* con esto no tenemos que poner el tamaño de padding o borde, se puede hacer de unacomo en la última parte de la clase */
*{
    box-sizing: border-box;

}

body{
    margin: 0;
    padding: 0;
    /* Estilos generales aplicados en body que se heredan a los hijos */
    font-family: Arial, Helvetica, sans-serif;
    color: #333;
    background-color: #f4f4f4;
    /* background-image: ; con este podemos poner una imagen de fondo */
}

header, main, footer{
    margin: 0;
    padding: 20px;

}

footer{
    text-align: center;
}

/* Según la propiedad de especificidad se va a dar mayor prioridad a el selector que proporcione mejor contexto del elemento que quiere modificar, es decir el "header h1" es más específico que solo el h1 */
header h1{
    color: #2a9d8f; 
}

h1{
    color: blueviolet;
}

.author{
    font-weight: bold;
    color:#2a9d8f;
}

.subtitle{
    font-size: 28px;
    color: #264653;
}

.lista-tareas{
    list-style: none;
    margin-top: 25px;
    padding: 0;
}

.lista-tareas li{
    margin-bottom: 15px;

}

.tarea-checkbox{
    margin-right: 10px;
    accent-color: #2a9d8f;
    cursor: pointer;
}

.tarea-checkbox:checked + .tarea-descripcion{
    text-decoration: line-through;
    font-style: italic;
    color: #264653;
}